html {
	background: red;
}

.box {
	width: 200px;
	height: 200px;
	border-radius: 4px;
}
.box1 {
	background: url('../assets/images/1.png')
}

.box2 {
	background: url('../assets/images/2.png')
}

.box3 {
	background: url('../assets/images/3.png')
}
